* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#board {
    background-image: url(flappybirdbg.png);
    background-size: cover;
    background-position: center;
    display: block;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    touch-action: none; /* Prevent default touch behaviors */
}